@import "settings";

%base-btn {
  table td a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
  }
}

/*btn-black*/
.btn-black {
  @extend %base-btn;

  tbody tr td {
    border: 1px solid $black;
  }

  &.btn-small table td a {

    font-size: 11px !important;
    letter-spacing: 1.5px !important;

  }
}

table.btn-black table td {
  border: 1px solid $white;
}

/*end btn-black*/

/*btn-white*/
.btn-white {
  tbody tr td {
    border: 1px solid $white;
  }

  &:hover {
    a {
      border-radius: 0;
      background-color: $white;
      color: $black !important;
    }
  }
}

table.btn-white {
  &:hover {
    table td {
      background-color: $light-gray;
    }
  }
}

table.btn-white table td {
  background-color: $white;
  border: 1px solid $black;

  a {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: $white;
    color: $black;
    font-size: 11px;
    letter-spacing: 1.5px;

    &:hover {
      border-radius: 0;
      background-color: $light-gray;
      color: $black;
    }
  }
}

/*end btn-white*/
