$tvspeaker-bg-color: #464646;
$tvspeaker-black: #181818;
$tvspeaker-white: #ffffff;
$tvspeaker-light-gray: #adacac;
$tvspeaker-medium-gray: #676767;
$tvspeaker-dark-gray: #54596c;
$tvspeaker-top-bg-plug: #986b4b;

.tvspeaker-header {
  p {
    padding-bottom: 12px;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }

  &__title {
    color: $tvspeaker-white;
    letter-spacing: 1.5px;
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }

  &__subtitle {
    color: $tvspeaker-white;
    font-size: 12px;
    font-weight: normal;
  }

  &__link-wrap {
    text-align: right;

    a {
      color: $tvspeaker-light-gray !important;
      font-size: 12px;
    }
  }
}

.tvspeaker-top {
  background-color: $tvspeaker-top-bg-plug;
  background-image: url("https://i.ibb.co/0tRr09q/Bose-TV-Speaker.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__logo-img {
    display: inline;
  }

  &__title {
    font-size: 47px;
    color: $tvspeaker-white;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1;
  }
}

.tvspeaker-img-block {
  background-color: $tvspeaker-white;
  background-image: url("https://i.ibb.co/P9jw3VB/TVSpeaker.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (max-width: #{$global-breakpoint}) {
    background-size: contain !important;
  }

  &__label-wrap {
    padding-top: 4px;
  }

  &__label {
    padding-top: 5px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: $tvspeaker-white;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: $tvspeaker-dark-gray;
  }
}

.tvspeaker-text-block {
  background-color: $tvspeaker-white !important;

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0;
  }

  &__content {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 0;
  }

  &__btn {
    table td {
      background-color: $tvspeaker-black !important;
    }

    table td a {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      font-weight: 600 !important;
      font-size: 14px !important;
      text-transform: uppercase !important;
      letter-spacing: 2px !important;
    }
  }
}

.tvspeaker-footer {
  p, a {
    color: $tvspeaker-medium-gray !important;
    font-size: 14px;
    margin-bottom: 0;
  }

  &__privacy {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 9px !important;
  }
}



