// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  overflow-y: hidden;
  overflow-x: visible;
  background: #464646 !important;
}

.container.header {
  background: #464646;
}

// Full Width Headers

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #6e6e6e;
  padding-right: 16px;
  padding-left: 16px;
}
.footer p {
  color: #6e6e6e;
  padding-right: 16px;
  padding-left: 16px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.wrapper.secondary {
  background: #f3f3f3;
}
//button
table.button table td a{
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.overflow {
  overflow-y: hidden;
}
