// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  overflow-y: hidden;
  overflow-x: visible;
  background: #464646 !important;
}

table.body .container {
  @media only screen and (max-width: #{$global-breakpoint}) {
    width: 100% !important;
  }
}

.container.header {
  background: #464646;
}

.container.footer {
  background: #464646;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #ffffff;
  padding-bottom: 12px;
}
.footer p {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

//button
table.button table td a {
  text-transform: uppercase;
  letter-spacing: 2px;
}
