$sunglasses-bg-color: #464646;
$sunglasses-black: #181818;
$sunglasses-white: #ffffff;
$sunglasses-light-gray: #dadada;
$sunglasses-medium-gray: #adacac;
$sunglasses-dark-gray: #666666;
$sunglasses-top-bg-plug: #072b47;

.sunglasses-header {
  p {
    padding-bottom: 12px;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }

  &__title {
    color: $sunglasses-light-gray;
    font-size: 12px;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }

  &__subtitle {
    color: $sunglasses-light-gray;
    font-size: 12px;
    font-weight: normal;
  }

  &__link-wrap {
    text-align: right;

    a {
      color: $sunglasses-medium-gray !important;
      font-size: 11px;
    }
  }
}

.sunglasses-top {
  background-color: $sunglasses-top-bg-plug;
  background-image: url("https://i.ibb.co/3hHYrPx/bg.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__logo-img {
    display: inline;
  }

  &__title {
    font-size: 22px;
    letter-spacing: 2px;
    color: $white;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
  }

}

.sunglasses-text-block {
  &.white {
    background-color: $sunglasses-white !important;

    .sunglasses-text-block__title {
      color: $sunglasses-black;
    }

    .sunglasses-text-block__content {
      color: $sunglasses-dark-gray;
    }
  }

  &.black {
    background-color: $sunglasses-black !important;

    .sunglasses-text-block__title {
      color: $sunglasses-white !important;
    }

    .sunglasses-text-block__content {
      color: $sunglasses-white !important;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  &__content {
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 0;
  }
}

.sunglasses-footer {
  p, a {
    color: $sunglasses-medium-gray !important;
    font-size: 14px;
    margin-bottom: 0;
  }

  &__privacy {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 9px !important;
  }
}


